.space_bound,
.mxatvruli,
.psychology,
.history,
.Children {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 100px;
  justify-content:space-between;
}

.space_bound img,
.mxatvruli img,
.psychology img,
.history img,
.Children img {
  width: 300px;
  height: 450px;
  border: 2px solid black;
  border-radius: 5px;
}

.btns {
  display: flex;
  justify-content: space-between;
}




.btns button {
  width: 300px;
  height: 50px;
  padding: 10px;
  border: 1px solid black;
  border-radius:5px;
  cursor: pointer;
  background:#3b7f56;
  font-size: 21px;
  outline: none;
  color: black;
  display:flex;
  justify-content: center;
  align-items: center;

}

.btns button:hover {
  color: rgb(212, 72, 72);
  transition: 200ms;
}

#first {
  display: none;
}

#first.active {
  display: block;
}

#second {
  display: none;
}

#second.active {
  display: block;
}

#c2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

#c1.active {
  color: rgb(212, 72, 72);
  font-weight:bold;
}

#c2.active {
  color: rgb(212, 72, 72);
  font-weight:bold;
}

#c3.active {
  color: rgb(212, 72, 72);
  font-weight:bold;
}

#c4.active {
  color: rgb(212, 72, 72);
  font-weight:bold;
}


#c5.active {
  color: rgb(212, 72, 72);
  font-weight:bold;
}

#third {
  display: none;
}

#third.active {
  display: block;
}

#fourth {
  display: none;
}

#fourth.active {
  display: block;
}

.satauri{
 display:flex;
}

#fifth{
  display:none;
}

#fifth.active{
  display:block;
}



.qveda{
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top:3px solid rgb(212, 72, 72);
  margin-top:50px;
  
}

.qveda h3{
  font-weight:bold;
  font-size:25px;
}

#fb{
  font-size:80px;
  color:blue;
}

#yt{
  font-size:80px;
  color:red;
}

#insta{
  font-size:80px;
  background:linear-gradient(#515BD4,#DD2A7B,#515BD4);
  border-radius:10px;
  color:#515BD4;
}